div.modal.fade#hotOilerModal{

    div.owl-item{
        height: 60vh;
    }

        div.capto1{
            background:url("../img/hotOiler/hotOiler1.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
        div.capto2{
            background:url("../img/hotOiler/hotOiler2.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
        div.capto3{
            background:url("../img/hotOiler/hotOiler3.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
        div.capto4{
            background:url("../img/hotOiler/hotOiler4.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
        div.capto5{
            background:url("../img/hotOiler/hotOiler5.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
        div.capto6{
            background:url("../img/hotOiler/hotOiler6.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
        div.capto7{
            background:url("../img/hotOiler/hotOiler7.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
        div.capto8{
            background:url("../img/hotOiler/hotOiler8.jpg") no-repeat center; 
            background-size: cover;
            height: 60vh;
            border-radius: 5px;
        }
    
}