#header{
    padding-top: 10vh;
}

.hoiler{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2), transparent), url("../img/hotOiler.jpg") no-repeat center; 
    background-size: cover;
    height: 60vh;
    border-radius: 5px;
}

.caption{
    vertical-align: middle;
}
