body{
    background-color: #333;
    color: white;

}
#header{
    padding-top: 18vh;
}


img.logo{
    height: 10vh;
    width: 150px;
    padding-top:10px;
   }

   nav.navbar{
    li{
        a{
            padding: 30px 15px;
        
        }
        &:hover{
            color:white;
        }
    }
    padding: 0;
    margin: 0;
}

   .nav-link:hover{
    background-color: #333;
    color: white;
}
.navbar-nav > li.nav-item > a.nav-link,
.navbar-nav > li.nav-item > a.nav-link{
    font-weight: bolder;
&:focus {
  color: #333;
}
  &:hover {
    color: rgb(255,255,255);
  }
}




.hoiler{
    background:url("../img/hotOiler.jpg") no-repeat center; 
    background-size: cover;
    height: 60vh;
    border-radius: 5px;
}

.capt1{
    background:url("../img/oilRig2.jpg") no-repeat center;
    background-size: cover;
    height: 60vh;
    border-radius: 5px;     
}

.capt2{
    background: url("../img/oilRig3.jpg") no-repeat center;
    background-size: cover;
    height: 60vh;
    border-radius: 5px;
}

p.headerCap{
    font-size: 20px;
}

h1.headerh{
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

#contact-card{
    background-color: #34374c;
    font-weight: bold;
    color: #f6f6f6;
    text-decoration: none;
    &:hover,&:active{
        background-color: #f6f6f6;
        color:#34374c;
       
    }
    p{
        font-size: 1em;
    
        .fa-2x {
            vertical-align: middle;
        }

        span.contact{
            margin-right: 20px;
          
        }
        
        
    }
}

a.Bbutton{
    text-decoration: none;
    &:hover, &:active{
        text-decoration: none;
    }
}

@media (max-width:758px){
    .caption{
        top: 2vh;
    }
}


@media (max-width: 991px) {
    .item{
        .row{
            display: flex;
            .caption{
                .s{
                    top:4vh;
                }
                flex:1;
                order: 2;
            }
            .picture{
                order:1;
            }
    }
  }


    .caption{
        top: 5vh;
    }
    .caption.s{
        top: 0;
    }
}

 
  @media (min-width: 991px) {

    .caption{
        top: 7vh;
    }
    .caption.s{
        top: 7vh;
    }
  }
